/* .card {
    height: 190px;
    background-color: transparent;
  }
 
  .card-content {
    font-size: 1.2em;
  }
  
  .card-image img{
    height: 190px;
    width: 100%
  }
  
  div.card-action a {
    color: rgb(40, 125, 148) !important;
    font-size: 1.1em;
    min-width: 280px;
  }
  
  @media only screen and (min-width : 1190px) {
    .card-content {
      font-size: 1.5em;
    }
  } */
  p {
    color: black;
  }
  .card-action a {
    color: black !important;
  }
