.card {
    background-color: transparent;
    border: none;
  }
 /* 
  .card-content {
    font-size: 1.2em;
  }
  


  
  @media only screen and (min-width : 1190px) {
    .card-content {
      font-size: 1.5em;
    }
  } */
  p {
    color: black;
  }
  .card-action a {
    color: black !important;
  }

  .container {
    margin: auto;
    color: white;
    border: none;
  }

  div.card-action a {
    color: white !important;
    font-size: 1.1em;
    min-width: 280px;
  }

  img {
    align-content: center;
    
  }
   .card-image img{
    height: 500px;
    width: 100%
  }
  