body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(70, 69, 69) 50%, rgba(0,0,0,1) 100%);
}

h3 {
  text-align: center;  
}

* {
  color:white;
}

.title {
  margin-top: 25px;
}


.wedding {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: transparent;
  margin: auto;
  /* align-content: center; */
}

.number {
  margin-left: 21px;
}

.email {
  margin-left: 21px;
}

.App {
  text-align: center;
}

img {
  height: 500px;
}

.bio {
  color:white;
  max-width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icons img {
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.GitHub img {
  height: 45px;
}
.LinkedIn img {
  height: 45px;
}

/* html {
  background-color: black;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
  text-align: center;
}

a {
  color: white !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}



/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}